@font-face {
  font-family: Mossport;
  src: url(Mossport.woff2) format('woff2'), url(Mossport.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Gotham Pro";
  src: url(Gothampro.woff2) format('woff2'), url(Gothampro.woff) format('woff');
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url(Gothampro_medium.woff2) format('woff2'), url(Gothampro_medium.woff) format('woff');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "Gotham Pro";
  src: url(Gothampro_bold.woff2) format('woff2'), url(Gothampro_bold.woff) format('woff');
  font-display: swap;
  font-weight: 700;
}